# ========================
# SECRETS 
# ========================
.env
*.session         
*.session-journal
telegram_session.session
# ========================
# DATA
# ========================
data/raw/
data/processed/
logs/

# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.egg-info/
.venv/
-m 
env/
dist/
build/
*.egg

# ========================
# Jupyter
# ========================
.ipynb_checkpoints/
*.ipynb

# ========================
# IDE
# ========================
.vscode/
.idea/
*.DS_Store

# ========================
# dbt
# ========================
medical_warehouse/target/
medical_warehouse/dbt_packages/
medical_warehouse/logs/
